<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Панель - API Рассылка</title>

{% load static %}

<link href="{% static 'webui/lib/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
<link href="{% static 'webui/lib/fontawesome/css/solid.min.css' %}" rel="stylesheet">
<link href="{% static 'webui/lib/fontawesome/css/brands.min.css' %}" rel="stylesheet">
<link href="{% static 'webui/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'webui/css/master.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'webui/lib/flatpickr/css/flatpickr.min.css' %}">

<script src="{% static 'webui/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'webui/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'webui/lib/flatpickr/js/flatpickr.min.js' %}"></script>