<!doctype html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    {% include 'header.html' %}
    {% block header %}
    {% endblock %}
</head>

{% load static %}

<body>
    <div class="wrapper">
        {% include 'topbar.html' %}
        {% block topbar %}
        {% endblock %}
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item">
                            <div class="nav-dropdown">
                                <a href="/docs" class="nav-item nav-link text-secondary">Swagger</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>{{ user.get_username }}</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Выйти</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->

            <!-- begin page Content -->

            {% if base == 'panel' %}
                {% include "panel.html" %}
            {% elif base == 'campaigns' %}
                {% include "campaigns.html" %} 
            {% elif base == 'customers' %}
                {% include "customers.html" %} 
            {% elif base == 'messages' %}
                {% include "messages.html" %} 
            {% elif base == 'settings' %}
                {% include "settings.html" %}
            {% else %}
                {% include "panel.html" %}
            {% endif %}

            <!-- end page Content -->
            

        </div>
    </div>
    <script src="{% static 'webui/js/script.js' %}"></script>
</body>

</html>